$color1: #FF930A;
$color2: #f14b04;
$color3: #D1105A;
$color4: #884AB2;
$color4: #471CA8;
$color5: #333333e1;
$gradient1: linear-gradient(to right top, #ff930a, #fd7328, #f5543c, #e6344c, #d1105a);
$gradient2: linear-gradient(to right bottom, #059605, #1aa406, #2ab306, #37c206, #45d104);
