@for $i from 0 through 7{
    .p-#{$i * 1}{
        padding: #{$i * 0.4}em;
    }
}
@for $i from 0 through 7{
    .px-#{$i * 1}{
        padding: 0 #{$i * 0.4}em;
    }
}
@for $i from 0 through 7{
    .py-#{$i * 1}{
        padding: #{$i * 0.4}em 0;
    }
}
@for $i from 0 through 7{
    .pt-#{$i * 1}{
        padding-top: #{$i * 0.4}em;
    }
}
@for $i from 0 through 7{
    .pb-#{$i * 1}{
        padding-bottom: #{$i * 0.4}em;
    }
}
@for $i from 0 through 7{
    .pl-#{$i * 1}{
        padding-left: #{$i * 0.4}em;
    }
}
@for $i from 0 through 7{
    .pr-#{$i * 1}{
        padding-right: #{$i * 0.4}em;
    }
}