@for $i from 0 through 7{
    .m-#{$i * 1}{
        margin: #{$i * 0.4}em;
    }
}
@for $i from 0 through 7{
    .mx-#{$i * 1}{
        margin: 0 #{$i * 0.4}em;
    }
}
@for $i from 0 through 7{
    .my-#{$i * 1}{
        margin: #{$i * 0.4}em 0;
    }
}
@for $i from 0 through 7{
    .mt-#{$i * 1}{
        margin-top: #{$i * 0.4}em;
    }
}
@for $i from 0 through 7{
    .mb-#{$i * 1}{
        margin-bottom: #{$i * 0.4}em;
    }
}
@for $i from 0 through 7{
    .ml-#{$i * 1}{
        margin-left: #{$i * 0.4}em;
    }
}
@for $i from 0 through 7{
    .mr-#{$i * 1}{
        margin-right: #{$i * 0.4}em;
    }
}